{% extends "base.html" %}

{% block main %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">Hello, friend!</h1>
        <p class="lead">Each Blueprint is self-contained and isolated from the main application.
            You can easily remove it and delete its registration in the main application.
            This is a simple example of rendering a page using the render_template() function and the Jinja 2 template engine.
        </p>
        <hr class="my-4">
        <p>Details on using the template on the repository page on GitHub.</p>
        <p class="lead">
            <a class="btn btn-secondary btn-md" href="#" role="button">Readme</a>
        </p>
    </div>
</div>
{% endblock main %}